<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    <test name="cucumberTest">
        <classes>
            <class name="main.java.uiAutomation.testcases.suite"/>
<!--            <class name="main.java.uiAutomation.testcases.Login"/>-->
            <class name="main.java.uiAutomation.testcases.TestCollectionOne"/>
        </classes>
    </test>
    <!-- Test completed-->

<!--    <listeners>-->
<!--        <listener class-name="test.java.bdd.cucumberTestng.listener.ITestImplementation"></listener>-->
<!--    </listeners>-->

</suite>